    body {
      background: linear-gradient(90deg,peachpuff,royalblue);
    }

.tableList td a{
    text-decoration: none;
    color: aliceblue;
    text-decoration: underline;
    padding: 20px 0px;
}
.tableList {
    background-color: darkblue;
    color: aliceblue;
    width : 750px ;
    font-size:18px;
}
.tableList td{
    background-color: darkblue;
    color: aliceblue;
}
.tableList td, .tableList th{
    border-bottom: 1px solid aliceblue;
}
.tableList th{
    background-color: crimson;
}

.tableList tr:hover td{
  background-color: rgba(255, 0, 0, 0.5);
  transition: 100ms linear;
}
.tableList tr{
    
    height: 50px;
    
}












.tableListDetail td a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    padding: 20px 0px;
}
.tableListDetail {
    background-color: ghostwhite;
    color: aliceblue;
    width : 750px ;
    font-size: 17px;
}
.tableListDetail td{
    background-color: silver;
    color: black;
}
.tableListDetail td, .tableList th{
    border-bottom: 4px solid darkblue;
}
.tableListDetail th{
    background-color: crimson;
}

.tableListDetail tr:hover td{
  background-color: rgba(0, 0, 0, 0.5);
  transition: 100ms linear;
}
.tableListDetail tr{
    
    height: 50px;
    
}









    .vertical-menu {
            width: 200px;
        }

        .vertical-menu a {
            background-color: #eee;
            color: black;
            display: block;
            padding: 15px;
            text-decoration: none;
            border-bottom: 1px solid darkblue;
        }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: darkblue;
            color: white;
        }

        .pageContent {
            width: 750px;
            text-shadow: 0px 2px #000000;
            font-size: 18px;
        }
        .pageContent table {
          width: 100%;
          text-align: center;
            
        }
        .pageContent table tr {
          height: 80px;
          background-color:crimson;
        }
        .pageContent table tr:nth-child(odd){
          background-color: mediumblue;
        }
        .pageContent table tr td {
          width: 140px;
            
            
        }
        .pageContent table tr td a {
          color:whitesmoke;
          text-decoration: none;
          cursor: pointer;
          padding: 20px 0px;
        }
        .pageContent table tr td:hover {
          background-color:rgba(0, 0, 0, 0.5);
          color: #000000;
          transition: 100ms linear;
        }